* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #333333;
}

html {
    min-height: 100vh;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 850px;
    background-color: white;
}

header {
    text-align: center;
    margin: 3rem 0;
}

header h2 {
    font-size: 15px;
}

main {
    margin: 2rem 0;
}

h1,
h2 {
    color: #282828;
    font-weight: 500;
}

h1 {
    margin-bottom: 1rem;
    font-size: 30px;
}

h2 {
    margin: 0.3rem 0;
    font-size: 20px;
}

a {
    color: #337ab7;
}

span {
    font-weight: 700;
    line-height: 1.1;
}

p {
    line-height: 1.5;
}

div {
    padding: 1rem;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    border: 1px solid white;
    margin: 0.8rem 0;
    font-family: monospace;
    font-size: 0.8rem;
}

.grafico {
    width: 410px;
}

.tabela {
    width: 410px;
}
